$colorLightestBlue: #EDFDFF;
$colorLightBlue: #8dd1da;
$colorBlue: #22356F;
$colorOrange: #F9B640;
$colorBack: #F4F9E2;
$colorBlack: #000;
$colorWhite: #fff;
$smallFont: 14;
$regularFont: 16;
$mediumFont: 24;
$largeFont: 48;